<div class="content">
  <div class="title">BIG AGILE OPEN SPACE</div>
  <div>
    Big Agile Open Space nace como un punto de encuentro para todos los profesionales relacionados con metodologías ágiles en ambientes corporativos.
  </div>
</div>

<div class="background-colour">
  <div class="texto">
    <h3>QUÉ ES UN OPEN SPACE</h3>
    <div>
      Un entorno en el que las personas que acuden son copartícipes de cada una de las etapas de la reunión. Desde la determinación de los temas que le gustaría que se trataran, hasta el nivel de implicación que quieren tener en cada sesión a la que acuden.
    </div>
    <div>
      <button>Saber más</button>
    </div>
  </div>
  <div class="imagen">
    <img src="../assets/BAOS2019.webp" />
  </div>
</div>

<div>
  <app-carousel></app-carousel>
</div>
