<div class="wrapper">
  <div class="slider" id="slider">
    <ul class="slides">
      <li class="slide" id="slide1">
        <a href="#">
          <p class="caption">Texto llamativo</p>
          <img src="../assets/baos1.png" alt="photo 1">
        </a>
      </li>
      <li class="slide" id="slide2">
        <a href="#">
          <p class="caption">Texto llamativo</p>
          <img src="../assets/baos2.png" alt="photo 2">
        </a>
      </li>
      <li class="slide" id="slide3">
        <a href="#">
          <p class="caption">Texto llamativo</p>
          <img src="../assets/baos3.png" alt="photo 3">
        </a>
      </li>
      <li class="slide" id="slide4">
        <a href="#">
          <p class="caption">Texto llamativo</p>
          <img src="../assets/baos4.png" alt="photo 4">
        </a>
      </li>
      <li class="slide" id="slide5">
        <a href="#">
           <p class="caption">Texto llamativo</p>
           <img src="../assets/baos2.png" alt="photo 5">
        </a>
      </li>
      <li class="slide">
        <a href="#">
          <p class="caption">Texto llamativo</p>
          <img src="../assets/baos1.png" alt="photo 1">
        </a>
      </li>
    </ul>
    <ul class="slider-controler">
      <li><a href="#slide1">&bullet;</a></li>
      <li><a href="#slide2">&bullet;</a></li>
      <li><a href="#slide3">&bullet;</a></li>
      <li><a href="#slide4">&bullet;</a></li>
      <li><a href="#slide5">&bullet;</a></li>
    </ul>
  </div>
</div>
